@import url('https://fonts.googleapis.com/css2?family=Monomakh&family=Outfit:wght@400;700&display=swap');

:root {
    --font-family-default: 'Outfit', sans-serif;
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--slate-300);
}

.container {
    width: 320px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
    box-sizing: border-box;
}

.image {
    display: block;
    border-radius: 10px;
    width: 288px;
    margin-bottom:24px
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-family: var(--font-family-default);
    font-weight: 700;
    color: var(--slate-900);
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

p {
    margin: 0;
    font-family: var(--font-family-default);
    font-weight: 400;
    color: var(--slate-500);
    text-align: center;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.2px;
}